<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.BonusSkins" version="16.1.6.1" targetFramework="net481" />
  <package id="DevExpress.CodeParser" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.Data" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.Mvvm" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.Office.Core" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.Pdf.Core" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.Pdf.Drawing" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.Printing.Core" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.RichEdit.Core" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.Sparkline.Core" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.Utils" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.Xpf.Core" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.XtraBars" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.XtraEditors" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.XtraGrid" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.XtraLayout" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.XtraPrinting" version="16.1.6.0" targetFramework="net481" />
  <package id="DevExpress.XtraTreeList" version="16.1.6.0" targetFramework="net481" />
</packages>